*{
    margin: 0px ;
    padding: 0px;
}
/* 
first section
*/
.first{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    padding: 10px;
    background-color: antiquewhite;
}
.col{
    padding-top: 20px;
    color: gray;
    
}
.pic{
    width: 400px;
}
.btn{
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    margin-top: 20px;
    
}
/* 
heading style
*/
.hd{
    text-align: center;
    margin-top: 120px;
}
.para{
    padding-top: 20px;
    color: gray;
    text-align: center;
    margin-bottom: 20px;
}
/* 
img style
*/
.yellow{
    background-color: aqua;
    border-radius: 200px 200px 0px 0px;    
    
}
.flower-box{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 100px;
}
.gn{
    height: 450px;
}
.link{
    text-decoration: underline;
    padding-top: 10px;
    text-align: center;
}
/* 
box item style
 */
.box{
    display: flex;
    justify-content: space-around;
    background-color: darkgray;
    margin-left: 120px;
    margin-right: 100px;    
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}

